<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Hasta Profili</title>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #f0f0f0, #b5fcd8);
        }
    </style>
    
</head>
<body>
    <%- include('../partials/user/begining-header') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Hasta Profili</h3>
            </div>
            <div class="d-flex justify-content-center" style="margin-top: 40px;">
                <div class="card" style="width: 20rem;">
                    <img src="/static/user.png" class="card-img-top mx-auto" alt="user icon" style="width: 50%; height: auto;">
                    <div class="card-body">
                      <h4 class="card-title"><%= isim %> <%= soyisim %></h4>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Id :</strong> <%= id %></li>
                      <li class="list-group-item"><strong>TC Kimlik No :</strong> <%= tcno %></li>
                      <li class="list-group-item"><strong>Doğum Tarihi :</strong> <%= dogumTarihi.getDate() %> - <%= dogumTarihi.getMonth()+1 %> - <%= dogumTarihi.getFullYear() %></li>
                      <li class="list-group-item"><strong>Cinsiyet :</strong> <%= cinsiyet %></li>
                      <li class="list-group-item"><strong>Telefon :</strong> <%= telefon %></li>
                      <li class="list-group-item"><strong>Şehir :</strong> <%= sehir %></li>
                      <li class="list-group-item"><strong>İlçe :</strong> <%= ilce %></li>
                      <li class="list-group-item"><strong>Mahalle :</strong> <%= mahalle %></li>
                    </ul>
                    <div class="card-body">
                        <a href="/user/profile_update_render" class="btn btn-primary">Bilgilerini Güncelle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
