<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Rapor Listesi</title>
    <style>
        body {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #f0f0f0, #b5fcd8);
        }
        .pagination {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            position: absolute;
            bottom: 0;
        }
        .pagination ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pagination ul li {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin: 0px 5px;
        }
        .pagination ul li a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000000;
        }
        .default {
            background-color: #ffffff;
        }
        .active {
            background-color: rgb(211, 211, 211);
        }
    </style>
</head>
<body>
    <%- include('../partials/user/begining-header') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3>Rapor Listesi</h3>
            </div>
            <div class="col-md-12 mt-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px">Rapor Id</th>
                            <th>Tarih</th>
                            <th>İçerik</th>
                            <th style="width:190px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% rapors.forEach(rapor => { %>
                            <tr>
                                <td>
                                    <%= rapor.raporid %>
                                </td>
                                <td>
                                    <%= rapor.tarih %>   
                                </td>
                                <td>
                                    <%= rapor.icerik %>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" onclick="downloadFile('<%= rapor.resim %>')">Sonucu İndir</a>
                                    <a class="btn btn-sm btn-danger" href="/user/rapor/<%= rapor.raporid %>">Düzenle</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div class="pagination">
        <ul>
            <% if (nowPage == 1) { %>
                <li class="active"><a href="?page=1">1</a></li>
            <% } else { %>
                <li class="default"><a href="?page=1">1</a></li>
            <% } %>
            
            <% if (i!=1) { %>
                <li class="default"><a>...</a></li>
            <% } %>

            <% for(; i <= nowPage+3 && i<=totalPage; i++ ) { %>
                
                <% if (i == nowPage) { %>

                    <% if (i==1 || i==totalPage) { %>
                        
                    <% } else { %>    
                        <li class="active"><a href="?page=<%=i%>"><%=i%></a></li>
                    <% } %>
                    
                <% } else { %>     
                    <% if (i==1 || i==totalPage) { %>
            
                    <% } else { %>    
                            <li class="default"><a href="?page=<%=i%>"><%=i%></a></li>
                    <% } %>
                <% } %>
                
                 
            <% } %>



            <% if (nowPage == totalPage) { %>
                <% if (totalPage==1) { %>
            
                <% } else { %>    
                    <li class="active"><a href="?page=<%=totalPage %>"><%=totalPage %></a></li>
                <% } %>
               
            <% } else { %>
                <% if (totalPage==1) { %>
            
                <% } else { %>    
                    <li class="default"><a href="?page=<%=totalPage %>"><%=totalPage %></a></li>
                <% } %>
            <% } %>
        </ul>
    </div>

    <script>

        

        function downloadFile(fileName) {
   
    //en sagdan basla /'den sonrasını al
    fileName = fileName.substring(fileName.lastIndexOf('/')+1);
    $.ajax({
        url: `/download/${fileName}`, 
        type: 'GET',
        xhrFields: {
            responseType: 'blob' 
        },
        success: function(data){
            const url = window.URL.createObjectURL(data);

            const a = document.createElement('a');
            a.href = url;
            a.download = fileName;
            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        },
        error: function(error){
            console.log(error);
            alert('Dosya indirilemedi');
        }
    });
}



    </script>
    
</body>
</html>
